body {
  /*padding-top: 50px;*/
}
p {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:16px;
}

.p-highlight {
  opacity:0.5;
}

a {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  color:#69A6CF;
}

a:hover {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-weight: bold;
  text-align:left;
  margin-top:0px;
  font-size:24px;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-weight: bold;
  text-align:left;
}

body,html {
  width: 100%;
  height: 100%;
}
.tile {
  
  background-color: #eaeaea;
}

.container.other-container {
  width:942px;
}

#title {
  height: 100%;
  width: 100%;
  background-color: rgba(100, 149, 68, 0.8);
}

#title-sm {
  width: 100%;
  background-color: #fff;
}

.intro-container {
    top: 35%;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
  }

#logo {
  position:relative;
  left:50%;
  //top:32%;
  display:block; 
  width:90%;
  margin-left:-45%;
  max-height:32%;
}

#logo-sm{
  max-width:90%;
}

.title-text{
  position:relative;
}

.title-text>p{
  color:#FFFFFF;
  font-size:17px;
}

.yellow-border {
  height:1%;
  width:100%;
  border-bottom: 10px solid rgba(241, 197, 83, 1);
}



#title-btn {
  position:absolute;
  top:80%;
  left:50%;
  width:178px;
  margin-left:-87.5px;

  background-color: rgba(241, 197, 83, .8);
  font-size:14px;
  border-color:transparent;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}

#title-btn:hover{
  background-color: rgba(241, 197, 83, .4);
}

#about {
  background-color: #fff;
  padding-top:7%;
  padding-bottom:7%;
}

#img-me {
  width:100%;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
}

#work {
  background-color: #eaeaea;
  padding-top:7%;
  padding-bottom:7%;
}

#footer {
  height:90px;

  background:url(../images/footer-bg.jpg);
  background-size:100%;
  background-repeat:no-repeat;
  background-color:#444444;
}

.intro-text {
  padding: 15px 15px;
  text-align: center;
}

.lead {
  text-align:left;
  font-size: 18px;
}

.indented {
  text-indent: 2em;
}

.smaller-text {
  font-size:17px;
}

.navbar {
  background-color: transparent; 
  min-height:60px;
  /*border-bottom: 5px solid black;*/
  border-bottom:transparent;
  
}

/** NAVBAR SHAPES **/



#rectangle-left {
  width: 56%;
  height: 60px;
  background-color: rgba(241, 197, 83, .8);
  position:fixed;
  left:0px;
  z-index:10;
}

#triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 60px solid rgba(241, 197, 83, .8);
  border-right: 60px solid transparent;
  position:fixed;
  left:56%;
  z-index:10;
}

#triangle-topright {
  width: 0;
  height: 0;
  border-top: 60px solid rgba(100, 149, 68, 0.8);
  border-left: 60px solid transparent;
  position:fixed;
  right:15%;
  z-index:10;
}

#rectangle-right {
  width: 15%;
  height:60px;
  background-color: rgba(100, 149, 68, 0.8);
  position:fixed;
  right:0px;
  z-index:10;
}

.col-md-4 {
  width:75%;
  margin:auto;
}

.col-md-8 {
  margin-top:-20px;
}

/** END NAVBAR SHAPES **/

.navbar-brand {
  min-height:60px;
  line-height:30px;
  font-size:20px;
}

.navbar-inverse {
}

.navbar-inverse .navbar-brand {
  color:#FFFFFF;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: rgba(84, 112, 66, 1.0);
  background-color: transparent;
}

.navbar-nav {
  min-height:80px;
  line-height: 45px;
  float:right;
}

.navbar-nav>li>a {
  line-height:45px;
  font-size:18px;
}

.navbar-inverse .navbar-nav >li >a {
  color:#FFFFFF;
  float:right;
}

.navbar-inverse .navbar-nav >li >a:hover,
.navbar-inverse .navbar-nav >li >a:focus {
  color: rgba(84, 112, 66, 1.0);
  background-color: transparent;
}

.navbar-inverse .navbar-toggle {
  border-color:transparent;
  margin-top: 12px;
  padding: 7px 7px;
  border-radius:3px;
  margin-right:12px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(84, 112, 66, 1.0);
}

.navbar-inverse .navbar-collapse {
  border-color:transparent;
  background-color:rgba(91, 146, 55, 0.8);
}

hr {
  height:4px;
  width:70px;
  margin: 2.75em auto 3.25em;
  border:0 none;
  display:block;
  background-color:#69A6CF;
}

ul {
  text-align:left;
  margin-bottom:25px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:17px;
}

.footer-text {
  color:#FFFFFF;
  margin-bottom:0px;
  text-align:center;
  line-height: 90px;
}


/* WORK SECTION */
.work-container {
  text-align: center;
}

.work-container:last-child {
  margin-top: 50px;
}

.work-heading {
  margin-bottom:20px;
}


.work-heading >h1{
  float:left;
}

.work-heading >p{
  float:left;
  margin:0px 0 0 10px;
}

.thumb{
  width: 100%;
  line-height: 1.42857143;
  background-color: #fff;
}

.thumb.thumb-half-left{
  width: 100%;
  margin:1% 0 1% 0;  
}

.thumb.thumb-half-right{
  width: 100%;
  margin:1% 0 1% 0;  
}

.img-wrap {
  width:97%;
  margin:1.4%;
  overflow:hidden;
  position:relative;
  display:inline-block;

}

.img-info {
  background-color:rgba(0, 0, 0, 0.8);
  bottom:0;
  color:#fff;
  opacity:0;
  filter: alpha(opacity = 0);
  transition:opacity 0.35s ease-in-out;
  -moz-transition:opacity 0.35s ease-in-out;
  -webkit-transition:opacity 0.35s ease-in-out;
  position:absolute;
  width:100%;
  height:100%;
  z-index:1000;
  padding:22% 20px 0 20px;
}

.img-info p{
  padding:0 10px;
  font-size:18px;
}

.img-info p.sub-text {
  font-size:16px;
}

.img-wrap:hover .img-info {
  opacity:1;
}

.img-wrap.img-wrap-other .thumb {
  background-color:rgb(0, 0, 0);
  filter: alpha(opacity = 0.5);
  transition:opacity 0.35s ease-in-out;
  -moz-transition:opacity 0.35s ease-in-out;
  -webkit-transition:opacity 0.35s ease-in-out;
}

.img-wrap.img-wrap-other .thumb:hover {
  background-color:rgb(0, 0, 0);
  opacity:0.5;
}

/** PROJECT PAGES **/
  #project {
    background-color: #FFF;
    padding-bottom:5%;
  }


  .btn-project {
    background-color: rgba(66, 140, 189, 0.8);
    font-size:20px;
    border-color:transparent;
    font-family: 'Lato', sans-serif;
    font-weight:300;

    margin: 0 auto;
  }

  .btn-project:hover {
    background-color: rgba(50, 111, 151, 0.8);
    border-color:transparent;
  }

  .centered {
    text-align: center;
    margin-bottom:40px;
  }

  .back-next-nav {
    padding-top:14%;
  }

  .arrow {
    width:48px;
  }

  .project-nav{
    font-size:16px;
    padding-top:12px;
    margin-bottom:0px;
  }

  .lead.lead-lower{
    margin:10px 0 10px 0;
  }
  .lead.lead-descript{
    font-size:18px;
  }


/** OTHER PAGES **/
  .other-nav {
    padding: 0px 15px 0 15px;
    padding-top:16%;
  }

  .project-nav a.active,
  .project-nav a.active:hover{
    color:#000000;
    font-size:25px;
  }

  .project-nav a{
    color: rgba(91, 146, 55, 0.8);
    float: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size:21px;
  }

  .project-nav a:hover{
    color:#000000;
  }

  .project-nav.sub-nav {
    padding-top:0px;
  }

  .project-nav.sub-nav a.active,
  .project-nav.sub-nav a.active:hover{
    color:#000000;
    font-size:16px;
  }

  .project-nav.sub-nav a{
    color: rgba(91, 146, 55, 0.8);
    font-size: 16px;
    float: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .project-nav.sub-nav a:hover{
    color:#000000;
  }

/** RESPONSIVE **/





@media (min-width: 768px) {

  h1 {
    font-size:36px;
  }

  p {
    font-size: 18px;
  }

  .navbar {
    min-height:80px;
  }

  .navbar-brand {
    min-height:80px;
    line-height:45px;
    font-size:25px;
  }

  .navbar-nav>li>a {
    font-size:20px;
  }

  #rectangle-left {
    width: 32%;
    height: 80px;
  }

  #triangle-bottomleft {
    left: 32%;
    border-bottom: 80px solid rgba(241, 197, 83, .8);
    border-right: 80px solid transparent;
  }

  #triangle-topright {
    right:53%;
    border-top: 80px solid rgba(100, 149, 68, 0.8);
    border-left: 80px solid transparent;
  }

  #rectangle-right {
    width:53%;
    height: 80px;
  }

  .navbar-inverse .navbar-collapse {
    background-color:transparent;
  }

  #title {
    height: 100%;
  }

  #title-btn {
    width:250px;
    margin-left:-125px;
    font-size:20px;
    border-radius: 0;
  }

  .intro-container {
    top: 35%;
  }

  #logo {
    width: 700px;
    margin-left:-350px;
    max-height:32%;
  }

  .title-text{
  }

  .title-text>p{
    font-size:30px;
  }

  #about {
    padding-top:7%;
  }

  ul{
    font-size: 17px;
  }

  .title-text.intro-text {
    padding: 10px;
  }

  .intro-text {
    padding: 0px;
  }

  #footer {
    height:155px;
  }

  .footer-text {
    font-size:21px;
    line-height: 155px;
  }

  .img-wrap{
    width:46%;
    margin:1.4%;    
  }

  #footer-para {
    margin-top:4%;
  }

  .col-md-4 {
    width: 50%;
    margin:auto;
  }
  .col-md-8 {
    margin-top:0px;
  }

  .work-heading {
    margin-bottom:20px;
  }
  
  .work-heading >p{
    margin-top:14px;
  }

  .arrow {
    width:74px;
  }

  .project-nav{
    font-size:25px;
    padding-top:21px;
  }

  .thumb.thumb-half-left{
    max-width:49%;
    margin-right:1.4%;
  }

  .thumb.thumb-half-right{
    max-width:49%;
  }
}



@media (min-width: 992px) {
  .container {
  }

  .navbar-nav>li>a {
    font-size:20px;
  }

  #rectangle-left {
    width: 26%;
  }

  #triangle-bottomleft {
    left: 26%;
  }

  #triangle-topright {
    right:60%;
  }

  #rectangle-right {
    width:60%;
  }

  #logo {
    width: 800px;
    margin-left:-400px;
    max-height:39%;
  }

   #img-me {
    margin-bottom: 0;
  }

  .img-wrap {
    width:30%;
    margin:1.4%;
  }

  #footer-para {
    margin-top:4%;
  }

  .col-md-4 {
    width: 33.333333%;
    margin:auto;
  }
  .col-md-8 {
    width:66.6666667%;
  }

}



@media (min-width: 1200px) {
  .container {
  }

  .navbar-nav>li>a {
    font-size:20px;
  }

  #rectangle-left {
    width: 30%;
  }

  #triangle-bottomleft {
    left: 30%;
  }

  #triangle-topright {
    right:60%;
  }

  #rectangle-right {
    width:60%;
  }

  #logo {
    width: 900px;
    margin-left:-450px;
    max-height:37%;
  }

  #logo-sm{
    max-width:60%;
  }

  #footer-para {
    margin-top:6%;
  }

  .img-wrap {
    width:30%;
    margin:1.4%;
  }

  .img-info p{
    padding:0 10px;
    font-size:21px;
  }

  .img-info p.sub-text {
    font-size:18px;
  }

  .back-next-nav {
    padding-top:12%;
    padding-bottom:5%;
  }

}